body {
    background-color: #121214;
}
#forecast-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#current {
    background-color: white;
    /* width: 20vw; */
    display: grid;
    padding: 2rem;
    border-radius:10px;
    border-style: solid;
    border-width: 2px;
}
#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin: 4rem;
   gap: 40px;    
  }

#current-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    
}

.forecast {
    background-color: white;
    /* width: 15vw; */
    display: grid;
    padding: 2rem;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
}

.navbar-nav .nav-link.active {
    background-color: #f2db60;
    border-radius: 5px;
    padding: 8px;
    /* Adjust this value to get the desired roundness */
    color: black;
    /* Changes text color */
}

.navbar-nav .nav-item .nav-link {
    color: white
}

.navbar-light .navbar-nav .nav-link:hover {
    color: green;
}

.navbar-light {
    background-color: #121214 !important;

}

.navbar-light .navbar-toggler-icon {
    background-color: white;
    border-color: white;

}

.nav-item-spacing {
    margin-right: 20px;
   
}

.navbar-brand img {
    border-radius: 50%;
  
    width: 40px;

    height: 40px;
  
}


.navbar-brand:not(img) {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.forecast-condition-icon,
#current-condition-icon {
    height: 50px;
    width: 50px;
}
.condition-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
#city-input {
    padding: 1rem 2rem;
}
.forecast-condition {
    font-size: large;
    font-weight: 600;
}
#current-condition {
    font-size: large;
    font-weight: 600;
}
#current-temp {
    font-size: xx-large;
    font-weight: 600;
}
p {
    font-size: large;
}